
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    text-align: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
 }
 
 
 
.error-page {
     width: 100%;
     height: 50vw;
     display: grid;
     align-items: center;
     justify-items: center;
     grid-template-columns: 1fr 1fr;
     grid-gap: 3em;
     
 }
 
 
 .error-page > .error-img {
     justify-self: flex-end;
 }
 
 .error-page > .error-img > .cats{
     height: 180px;
    
 }
 
 .error-page > .Err-Message {
     justify-self: flex-start;
     display: grid;
     grid-template-rows: 1fr 1fr ;
 }